spring:
  application:
    # name: Auth-Service
    name:  auth-service


  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
       defaultZone: http://${DISCOVERY}:8761/eureka
#      defaultZone : http://service-discovery:8761/eureka
  instance:
    instanceId: "${spring.application.name}:${HOSTNAME}"


server:
  port: 0

management:
  tracing:
    sampling:
      probability: 1.0

token:
  signing:
    key: RDhENTBiMVdCeGVSWU8xUTNTQmFXY3hnM2pYZ0IyaXFiYTh3cXRQd3VvY2REVUdzdW82c1M5elEycmN5ZWVIMg==