spring:
  application:
    name: user-service
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    # bootstrap-servers: localhost:9092
    bootstrap-servers: http://broker:9092


#Service Discovery
eureka:
  instance:
    hostname: ${spring.application.name}
    preferIpAddress: true
  client:
    serviceUrl:
       defaultZone: http://${DISCOVERY}:8761/eureka
      #  defaultZone : https://discovery-orderoptima.gebeyalearning.com



server:
  port: 7000

